/** BEGIN MAIN WIDGET **/
#whatsapp-widget {
    font-family: "Roboto";
    position:    fixed;
    bottom:      20px;
    right:       40px;
    z-index:     999;
    transition:  0.5s;
}

#whatsapp-widget-target {
    width: 60px;
    height : 60px;
    display: table;
    background: #24CD63;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

#whatsapp-widget-icon {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    max-width: 30x;
    max-height: 30px;
    top: 25%;
    left : 25%;
}
/** BEGIN MAIN WIDGET **/
